body {
  font-family: 'Cabin', sans-serif;
  background-color: var(--body-bg);
  color: var(--base-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
