.button {
  &__next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 44px;
    gap: 8px;
    margin-left: auto;
    border-radius: 4px;
    border: 2px solid #FCC234;
    color: #A17601;
    background-color: rgba(255, 232, 182, 0.60);
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: #FFE8B6;
    }
  }
  &__back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 44px;
    gap: 8px;
    background-color: transparent;
    color: #5E728D;
    background-color: transparent;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: #EB6A58;
    }
  }
}